.feedback {
  background-color: #1E3A11;
  background-image: url("../img/feedback/bg-desktop@1x.webp");
  background-size: cover;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/feedback/bg-desktop@2x.webp");
  }

  @include vp-1199 {
    background-image: url("../img/feedback/bg-tablet@1x.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/feedback/bg-tablet@2x.webp");
    }
  }

  @include vp-767 {
    background-image: url("../img/feedback/bg-mobile@1x.webp");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/feedback/bg-mobile@2x.webp");
    }
  }
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 312px 0 307px;

  @include vp-1199 {
    padding: 195px 0 183px;
  }

  @include vp-767 {
    padding: 179px 0 175px;
  }
}

.feedback__title {
  padding-right: 17px;
  margin: 0 0 17px 0;
  font-size: 35px;
  line-height: 35px;
  font-weight: 800;
  color: $color-default-white;

  @include vp-1199 {
    padding-right: 2px;
    margin: 0 0 19px;
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    margin: 0 0 13px;
    font-size: 22px;
    line-height: 22px;
  }
}

.feedback__wrapper p {
  padding-right: 17px;
  margin: 0 0 42px 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $color-default-white;

  @include vp-1199 {
    padding: 0;
    max-width: 295px;
    margin: 0 0 30px 0;
  }

  @include vp-767 {
    max-width: 100%;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 26px 0;
  }
}

.feedback__form {
  @include vp-767 {
    width: 100%;
  }
}
