.footer {
  border-top: 1px solid $color-elephant-border;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  max-width: 1200px;
  margin: 0 auto;

  @include vp-1199 {
    padding: 44px 0 40px;
    max-width: 100%;
  }

  @include vp-767 {
    padding: 30px 0;
    max-width: 100%;
    align-items: flex-start;
    margin: 0 auto;
  }
}

.footer__nav-wrapper {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;

  @include vp-1199 {
    margin-bottom: 37px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
}

.footer__logo {
  @include vp-1199 {
    width: 118px;
    height: 34px;
  }

  &:hover,
  &:focus {
    opacity: 70%;
  }

  &:active {
    opacity: 50%;
  }
}

.footer__nav {
  min-width: 582px;

  @include vp-1199 {
    min-width: 471px;
  }

  @include vp-767 {
    width: 100%;
    display: flex;
    gap: 0;
    justify-content: space-between;
  }
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  justify-content: space-between;
  list-style-type: none;

  @include vp-1199 {
    gap: 0;
    font-size: 14px;
    line-height: 14px;
  }

  @include vp-767 {
    display: block;
    min-width: 0;
    columns: 2 100px;
    gap: 81px;
  }
}

.footer__nav-item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 10px;
    width: calc(100% - 20px);
    height: 1px;
    background-color: $color-elephant;
    transform: scale(0);
    transform-origin: center;
    transition: 0.3s;
  }

  @include hover {
    &::before {
      transform: scale(1);
    }
  }

  &:active {
    &::before {
      display: none;
    }
  }

  &:not(:disabled):focus {
    @include focus;
    outline: solid 1px $color-elephant;

    &::before {
      display: none;
    }
  }

  @include vp-1199 {
    &::before {
      width: 100%;
      left: 0;
    }
  }

  @include vp-767 {
    margin-bottom: 15px;
    width: fit-content;

    &::before {
      width: 100%;
    }
  }
}

.footer__nav-item a {
  padding: 10px;

  &:not(:disabled):focus {
    @include focus;
    outline: 1px solid $color-elephant;
  }

  @include vp-1199 {
    padding: 0;
  }
}

.footer__phone {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;

  @include vp-1199 {
    display: none;
  }
}

.footer__phone a {
  &:focus,
  &:hover {
    color: $color-resolution-blue;
  }

  &:active {
    color: $color-navy-blue;
  }
}

.footer__phone a.is--disabled {
  opacity: 10%;
  pointer-events: none;
  cursor: default;
}

.footer__social-list {
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  gap: 15px;
  align-items: center;
  justify-content: center;
  list-style-type: none;

  @include vp-767 {
    margin: 0 auto 20px 0;
  }
}

.footer__social-item {
  width: 30px;
  height: 30px;
}

.footer__social-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  outline: 1px solid $color-elephant-border;

  &:hover,
  &:focus {
    outline: 1px solid $color-elephant;
  }

  &:active {
    outline: none;
    background-color: $color-navy-blue;
  }

  &:active svg {
    @include active;
    color: $color-default-white;
  }
}

.footer__social-link.is--disabled {
  opacity: 30%;
  pointer-events: none;
  cursor: default;
}

.footer__social-link svg {
  position: absolute;
  transform: translate(50%, 50%);
  opacity: 1;
}

.footer__policy {
  margin: 0 auto;
  padding: 0;
  text-align: center;

  @include vp-767 {
    margin: 0 auto 0 0;
  }
}

.footer__policy a {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
}
