.gallery h2 {
  position: relative;
  margin: 0 0 27px 0;
  padding: 0;
  font-size: 35px;
  line-height: 35px;
  font-weight: 800;

  &::after {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 800;
    font-size: 55px;
    line-height: 55px;
    color: $color-elephant;
    opacity: 0.03;
    z-index: 1;
  }

  @include vp-1199 {
    margin: 0 0 26px 0;
    font-size: 25px;
    line-height: 25px;

    &::after {
      font-size: 40px;
      line-height: 40px;
    }
  }

  @include vp-767 {
    margin:  0 0 15px 0;
    font-size: 22px;
    line-height: 22px;

    &::after {
      font-size: 26px;
      line-height: 26px;
    }
  }
}

.gallery__wrapper {
  margin: 0 0 46px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include vp-1199 {
    margin: 0 0 37px 0;
  }

  @include vp-767 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    margin: 0 0 15px 0;
  }
}

.gallery__wrapper p {
  margin: 0;
  max-width:  693px;
  font-size: 16px;
  line-height: 24px;

  @include vp-1199 {
    max-width: 395px;
    font-size: 14px;
    line-height: 22px;
  }

  @include vp-767 {
    width: 100%;
    font-size: 12px;
    line-height: 18px;
  }
}

.gallery__button {
  width: 37px;
  height: 35px;
  background-color: $color-navy-blue;
  border: none;

  & svg {
    color: $color-default-white;
  }

  &:hover,
  &:focus {
    outline: 1px solid $color-elephant;
    background-color: $color-default-white;

    & svg {
      color: $color-elephant;
    }
  }

  &:active {
    outline: none;
    background-color: $color-resolution-blue;

    & svg {
      color: $color-default-white;
    }
  }

  &:disabled {
    opacity: 10%;
  }
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery__item:first-child,
.gallery__item:nth-child(n+2) {
  width: 275px;
  height: 449px;

  & img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  @include vp-767 {
    width: 159px;
    height: auto;
  }
}


.gallery__item:nth-child(2n+2) {
  width: 298px;
  height: auto;
}

.gallery__item-container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @include vp-767 {
    width: 172px;
    height: auto;
  }
}
