.hero {
  width: 100%;

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }
}

.hero__swiper {
  @include vp-1199 {
    display: flex;
    justify-content: center;
  }
}

.hero__list {
  margin: 0;
  padding: 0;
}

.hero__item-wrapper {
  position: relative;
  padding: 80px 15px 0;
  max-width: 1200px;
  margin: 0 auto;

  @include vp-1199 {
    position: relative;
    padding: 0 30px 90px;
    max-width: 100%;
    margin: 0;
  }

  @include vp-767 {
    padding: 0 15px 40px;
  }
}

.hero__item {
  position: relative;
  background-size: cover;
  list-style-type: none;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// .hero__item--caucasus {
//   background-image: url("../../img/hero/caucasus-desktop@2x.jpg");
// }

// .hero__item--kamchatka {
//   background-image: url("../../img/hero/kamchatka-desktop@2x.jpg");
// }

// .hero__item--altai {
//   background-image: url("../../img/hero/altai-desktop@2x.jpg");
// }

.hero__item-text {
  display: flex;
  flex-direction: column;
  max-width: 944px;
  width: fit-content;

  @include vp-1199 {
    margin: 0 auto;
    max-width: 670px;
    width: 100%;
    align-items: center;
  }

  @include vp-767 {
    margin: 0;
    max-width: 100%;
  }
}

.hero__item-text h2 {
  position: relative;
  margin: 0 0 25px 0;
  padding: 0;
  max-width: 945px;
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;
  color: $color-default-white;
  z-index: 5;

  @include vp-1199 {
    margin: 0 0 15px 0;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 30px;
  }
}

.hero__item-text p {
  margin: 0 0 35px 0;
  padding: 0;
  max-width: 464px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: $color-default-white;

  @include vp-1199 {
    max-width: 462px;
    margin: 0 0 25px 0;
    text-align: center;
  }

  @include vp-767 {
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
  }
}

.hero__item-text a {
  display: block;
  margin-bottom: 150px;
  width: 220px;
  text-align: center;
  background-color: $color-navy-blue;
  padding: 21px 5px;
  font-size: 16px;
  line-height: 16px;
  color: $color-default-white;
  font-weight: 500;

  &:hover,
  &:focus {
    outline: 1px solid $color-elephant;
    background-color: $color-default-white;
    color: $color-elephant;
  }

  &:active {
    outline: none;
    background-color: $color-resolution-blue;
    color: $color-default-white;
  }

  @include vp-1199 {
    display: block;
    width: 206px;
    margin: 0 auto 478px;
  }

  @include vp-767 {
    min-width: 180px;
    margin-bottom: 0;
    padding: 18px;
  }
}

.hero__video {
  position: absolute;
  width: 482px;
  height: 317px;
  right: 0;
  top: 200px;
  background-color: $color-resolution-blue;
  z-index: 4;

  @include vp-1199 {
    top: inherit;
    bottom: 218px;
    right: 50%;
    transform: translate(50%, 0);
    z-index: 1;
    width: 442px;
    height: auto;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__video-player {
  position: absolute;
  width: 100%;
  height: 100%;

  @include vp-1199 {
    aspect-ratio: 442/300;
  }
}

.hero__video-button {
  position: absolute;
  padding: 0;
  content: "";
  width: 56px;
  height: 56px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: transparent;
  border: none;
  z-index: 3;
  cursor: pointer;

  &::after {
    margin: 0;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid $color-default-white;
  }
}

.hero__polaroid {
  position: absolute;
  width: 410px;
  height: 459px;
  right: 1px;
  top: 120px;
  z-index: 1;

  @include vp-1199 {
    width: 442px;
    height: 365px;
    right: auto;
    left: 150px;
    top: auto;
    bottom: 169px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__audio {
  position: absolute;
  top: 200px;
  right: 0;

  & iframe {
    width: 340px;
    height: 220px;
  }

  @include vp-1199 {
    top: inherit;
    bottom: 279px;
    right: 50%;
    transform: translate(50%, 0);
  }

  @include vp-767 {
    display: none;
  }
}

.hero__item-info {
  display: flex;
  gap: 10px;

  @include vp-1199 {
    display: none;
  }
}

.hero__item-info svg {
  position: absolute;
  fill: $color-default-white;
  top: 20px;
  left: 20px;
}

.hero__item-info span {
  position: relative;
  padding: 14px 20px;
  padding-left: 40px;
  border: 1px solid $color-transparent;
  color: $color-default-white;
}

.swiper .hero__pagination {
  display: flex;
  max-width: 100px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: fit-content;
  text-align: end;
  left: auto;
  right: 130px;
  gap: 7px;

  @include vp-1199 {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    left: 0;
    bottom: 146px;
    right: inherit;
  }

  @include vp-767 {
    bottom: 0;
  }
}

.swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid $color-default-white;
  background-color: transparent;
  opacity: 1;
  margin: 0;

  &:not(:disabled):hover {
    @include hover;
    border: 1px solid $color-resolution-blue;
    background-color: transparent;
  }

  &:not(:disabled):hover svg {
    stroke: $color-default-black;
  }

  &:not(:disabled):focus {
    @include focus;
    border: 1px solid $color-resolution-blue;
  }

  &:not(:disabled):focus svg {
    stroke: $color-default-black;
  }

  &:not(:disabled):active {
    @include active;
    background-color: $color-resolution-blue;
    border-color: $color-resolution-blue;
  }

  &:disabled {
    opacity: 10%;
    cursor: default;
  }

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.swiper .swiper-pagination-bullet-active {
  background: $color-default-white;
}
