.hero__list {
  margin: 0;
  padding: 0;
}

.hero__item {
  list-style-type: none;
}

.hero__item--caucasus {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../img/hero/caucasus-desktop@1x.webp");
    background-repeat: no-repeat;
    background-size: cover;
    top: 100px;
    left: -80px;
    width: 1440px;
    height: 808px;
    z-index: -1;
  }
}

.hero__item h2 {
  position: relative;
  margin: 0 0 25px 0;
  padding: 0;
  max-width: 945px;
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;
  color: $color-default-white;
  z-index: 2;
}

.hero__item p {
  margin: 0 0 35px 0;
  padding: 0;
  max-width: 464px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: $color-default-white;
}

.hero__item a {
  display: block;
  text-align: center;
  width: 220px;
  background-color: $color-navy-blue;
  padding: 21px 5px;
  font-size: 16px;
  line-height: 16px;
  color: $color-default-white;
  font-weight: 500;

  &:hover,
  &:focus {
    outline: 1px solid $color-elephant;
    background-color: $color-default-white;
    color: $color-elephant;
  }

  &:active {
    outline: none;
    background-color: $color-resolution-blue;
    color: $color-default-white;
  }
}

.hero__video {
  position: absolute;
  width: 482px;
  height: 317px;
  right: 0;
  bottom: 110px;
  background-color: $color-resolution-blue;
  z-index: 1;
}

.hero__video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__video-player {
  width: 100%;
  height: 100%;

  @include vp-767 {
    aspect-ratio: 442/300;
  }
}

.hero__video-button {
  position: absolute;
  padding: 0;
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: transparent;
  border: none;
  z-index: 3;
  cursor: pointer;

  &::after {
    margin: 0;
    content: "";
    position: absolute;
    top: -2px;
    right: 2px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: $color-disabled;
    border: 1px solid $color-default-white;
  }
}

.hero__item-info {
  margin-top: 150px;
  display: flex;
  gap: 10px;
}

.hero__item-info svg {
  position: absolute;
  fill: $color-default-white;
  top: 20px;
  left: 20px;
}

.hero__item-info span {
  position: relative;
  padding: 14px 20px;
  padding-left: 40px;
  border: 1px solid $color-transparent;
  color: $color-default-white;
}
