.instructors {
  background-color: transparent;
}

.instructors__wrapper {
  padding: 0 0 127px 0;
}

.instructors__intro {
  margin-bottom: 52px;
}

.instructors__intro h2 {
  position: relative;
  margin: 0 0 38px 0;
  padding: 0;
  font-size: 35px;
  line-height: 35px;
  font-weight: 800;

  &::after {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 800;
    font-size: 55px;
    line-height: 55px;
    color: $color-elephant;
    opacity: 0.03;
    z-index: -1;
  }

  @include vp-1199 {
    margin: 0 0 26px 0;
    font-size: 25px;
    line-height: 25px;

    &::after {
      font-size: 40px;
      line-height: 40px;
    }
  }

  @include vp-767 {
    margin: 0 0 18px 0;
    font-size: 22px;
    line-height: 22px;

    &::after {
      font-size: 26px;
      line-height: 26px;
    }
  }
}

.instructors__intro p {
  margin: 0;
  padding: 0 380px 0 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  @include vp-1199 {
    padding: 0 118px 0 0;
  }
}

.instructors__slider {
  position: relative;
  margin-bottom: 49px;
}

.instructors__slider h3 {
  margin: 0 0 44px 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.instructors__navigation {
  position: absolute;
  right: 0;
  top: 0;
}

.instructors__button {
  width: 37px;
  height: 35px;
  background-color: $color-navy-blue;
  border: none;

  & svg {
    color: $color-default-white;
  }

  &:hover,
  &:focus {
    outline: 1px solid $color-elephant;
    background-color: $color-default-white;

    & svg {
      color: $color-elephant;
    }
  }

  &:active {
    outline: none;
    background-color: $color-resolution-blue;

    & svg {
      color: $color-default-white;
    }
  }
}

.instructors__swiper {
  padding: 30px;
  margin: -30px;
}

.instructors__list {
  margin: 0;
  padding: 0;
}

.instructors__item {
  min-height: 377px;
  padding: 20px 20px 36px;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
  list-style-type: none;
}

.instructors__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instructors__title h4 {
  margin: 15px 0 14px;
  padding: 0;
}

.instructors__text p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
}
