.learning {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background: url("../../img/features/clouds-small.svg");
    background-repeat: no-repeat;

    width: 840px;
    height: 280px;
    top: 100px;
    right: -380px;
    z-index: -1;
  }
}

.learning h3 {
  margin: 0 0 45px 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 44px 0;
  }
}

.learning__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;

  @include vp-1199 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 91px 76px
  }
}

.learning__item {
  position: relative;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 15px;

  &::after {
    position: absolute;
    content: "";
    width:  14px;
    height: 14px;
    border-radius: 50%;
    background-color: $color-navy-blue;
    bottom: -52px;
    left: 0;
  }

  @include vp-1199 {
    &::after {
      content: none;
    }
  }
}

.learning__item p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;

  @include vp-1199 {
    font-size: 14px;
    line-height: 22px;
  }
}

.learning__item svg {
  width: 35px;
  height: 35px;
}

.learning__decor {
  position: absolute;
  background: url("../../img/svg/line-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -45px;
  left: -1000%;
  width: 10000%;
  height: 1px;

  @include vp-1199 {
    background: url("../../img/svg/line-tablet.svg");
    bottom: 65px;
    left: 0;
    width: 368px;
    height: 68px;
  }
}
