.reviews__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 25px;

  @include vp-1199 {
    padding: 83px 0 27px;
  }

  @include vp-767 {
    padding: 0 0 34px;
  }
}

.reviews__wrapper h2 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 35px;
  font-weight: 800;

  &::after {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 800;
    font-size: 55px;
    line-height: 55px;
    color: $color-elephant;
    opacity: 0.03;
    z-index: 1;
  }

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;

    &::after {
      font-size: 40px;
      line-height: 40px;
    }
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;

    &::after {
      font-size: 26px;
      line-height: 26px;
    }
  }
}

.reviews__navigation {
  position: absolute;
  top: -14px;
  right: 0;

  @include vp-1199 {
    padding-right: 2px;
    top: 67px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;

  @include vp-1199 {
    left: -82px;
  }
}

.reviews__button {
  width: 37px;
  height: 35px;
  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;

  & svg {
    color: $color-default-white;
  }

  &:hover,
  &:focus {
    outline: 1px solid $color-elephant;
    background-color: $color-default-white;

    & svg {
      color: $color-elephant;
    }
  }

  &:active {
    outline: none;
    background-color: $color-resolution-blue;

    & svg {
      color: $color-default-white;
    }
  }

  &:disabled {
    opacity: 10%;
  }
}

.reviews__swiper {
  padding: 30px;
  margin: -30px;
}

.reviews__slider {
  padding-bottom: 138px;
  margin-left: -410px;

  @include vp-1199 {
    padding-bottom: 70px;
    margin-left: 45px;
  }

  @include vp-767 {
    max-width: 100%;
    margin: 0 15px;
    padding-bottom: 28px;
  }
}

.reviews__item {
  max-width: 790px;
  padding: 20px 40px 20px 20px;
  display: flex;
  gap: 30px;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
  background-color: $color-default-white;

  @include vp-1199 {
    padding: 20px 30px 20px 20px;
    max-width: 560px;
  }

  @include vp-767 {
    max-width: 100%;
    min-width: 290px;
    padding: 20px 19px;
    gap: 15px;
    flex-direction: column;
  }
}

.reviews__avatar {
  min-width: 258px;
  min-height: 253px;
  background-color: $color-resolution-blue;

  @include vp-1199 {
    min-width: 186px;
    min-height: 237px;
  }

  @include vp-767 {
    min-width: 100%;
    min-height: 169px;
  }
}

.reviews__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__text {
  padding: 16px 0;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    padding: 3.5px 0 3.5px;
    font-size: 12px;
    line-height: 18px;
  }
}

.reviews__text p {
  margin: 0 0 auto 0;
  padding: 0;

  @include vp-1199 {
    margin: 0 0 10px 0;
  }
}

.reviews__text span {
  margin-bottom: 24px;

  @include vp-1199 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 13.5px;
  }
}

.reviews__author {
  margin: 0;
  padding: 0;
}

.reviews__author dt {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;

  @include vp-1199 {
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 6px 0;
  }
}

.reviews__author dd {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
}
